* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: sans-serif;
}

body {
  /* height: 100vh; */
  width: 100vw;
}
.main {
  background-image: url("background-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

/* nav-bar */
.nav-bar {
  width: 100vw;

  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
.website-logo {
  height: 40px;
}
ul {
  display: flex;
  gap: 20px;
  padding-top: 10px;
}

.search {
  display: flex;
  height: 25px;
  gap: 7px;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.search-btn {
  background-color: #ed017f;
  color: white;
  padding: 6px 15px 6px 15px;

  border-radius: 5px;
  border: none;
}
.hero {
  position: relative;
}
.hero-img {
  position: absolute;

  left: 530px;

  top: -115px;
}
.img-heros {
  height: 600px;
  width: 750px;
}
.car-loan {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.car-loan-btn {
  display: flex;
  padding: 5px 15px 5px 15px;
  gap: 10px;
  border-radius: 20px;
  align-items: center;
  background-color: white;
  border: none;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2),
    0px -5px 15px 5px rgba(0, 0, 0, 0.2);
}
/* main */
.main-container {
  margin: 0 auto;
  display: flex;
}

.left-section {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0px 0px 0px 50px;
  justify-content: left;
  justify-content: center;
  top: 30px;
}
h1 {
  font-family: serif;
  font-size: 60px;
  font-weight: 800;
  color: rgb(111, 110, 110);
}
p {
  color: grey;
  line-break: auto;
  font-weight: 100;
  font-size: 15px;
  line-height: 1.5;
}
.btn {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
.apply-btn {
  background-color: #ed017f;
  border: none;
  padding: 5px 15px 5px 15px;
  color: white;
  border-radius: 5px;
}
.calculator-btn {
  background-color: white;
  color: #ed017f;
  border: 2px solid #ed017f;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
}

.right-section {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.home-loan-btn {
  position: absolute;
  height: 35px;
  width: 120px;
  display: flex;
  padding: 5px 15px 5px 15px;
  gap: 10px;
  margin: 0 50px 0 10px;
  border-radius: 20px;
  align-items: center;
  background-color: white;
  border: none;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2),
    0px -5px 15px 5px rgba(0, 0, 0, 0.2);
  font-size: 13px;
}

/* footer */
.footer {
  display: flex;
  margin: 100px 0px 0 50px;
  gap: 6px;
  justify-content: flex-start;
  align-items: center;

  height: 15vh;
  width: 50%;
}
